@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
}

body {
  background-color: var(--body-bg-color);
  font-family: 'Poppins';
}

main {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .profile {
  width: 50%;
  margin-top: 10%;  
  border: 2px solid var(--purple);
  border-radius: 80%;
  padding: 6px;
  float: left;
}

.profile img {
  width: 100%;
  border-radius: 50%;
  float: left;
}

header h1 {
  font-size: 1rem;
  margin-top: 10px;
}

header h1 a {
  text-decoration: none;
  color: var(--purple);
  font-weight: normal;
}

.content-link {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-weight: 600; 
}

.content-link button {
  width: 20rem;
  height: 2.5rem;
  margin: 10px;
  align-items: center;
  justify-content: center;
  background: var(--body-bg-color);
  border: 1px solid var(--purple);
  cursor: pointer;
}

.content-link button:hover {
  opacity: 0.7;
}

.social-link {
  display: flex;
  margin-top: 20px;
  width: 20%;
  justify-content: space-between;
  cursor: pointer;
}

.social-link:hover{

}