* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #0000FFBD; */
  background-color: #FF4500;
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: #FFF;
  width: 70%;
  margin: 2.5rem auto;
  object-position: 50% 65%;  /* tem dois valores centraliza objeto na imagem */
  border-radius: 0.625rem;
  padding: 2.5rem 1.25rem;
  
}

h1, h2 {
  color: #FF4500;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.5rem ;
}

h1 {
  font-size: 1.75rem; 
}

h2 {
  font-size: 1.25rem;
}

img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: 50% 65%;  /* tem dois valores centraliza objeto na imagem */
  border-radius: 0.625rem;
}

figcaption {
  color: #8F8F8F;
  text-align: right;
  margin: 0.625rem;
}

ul, ol {
  list-style-position: inside;
}

li, p {
  color: #39393A;
  font-size: 1rem;
  line-height: 1.75rem;
}

figcaption, footer p {
  font-size: 0.75rem;
}

footer {
  margin: 0.625rem;
}

footer p {
  color: #39393A;
  text-align: center;
  
}
footer p a {
  color: #39393A;
  text-decoration: none;
}
